# Ignore virtual environment
.venv/

# Ignore database and database-related files
instance/*

# Ignore configuration and sensitive environment files
.env

# Ignore logs or temporary files
*.log
*.tmp
*.swp

# Ignore contents of temp charts
temp_charts/*

# Ignore all xmls
*.xml

# Ignore IDE/editor configuration files
.idea/
.vscode/

# Ignore test files if you don't want them in the repo
test.py

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore text files that aren't necessary for version control
to_do.txt