# Ignore virtual environment
.venv/

# Ignore database and database-related files
instance/
chroma_databases/
chroma_crypto_database/

# Ignore configuration and sensitive environment files
.env

# Ignore miscellaneous files
misc/

# Ignore jpgs uploaded in dev environment
/static/uploads/**/*.jpg
/static/uploads/**/*.jpeg


# Ignore logs or temporary files
*.log
*.tmp
*.swp

# Ignore IDE/editor configuration files
.idea/
.vscode/

# Ignore test files if you don't want them in the repo
test.py

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore text files that aren't necessary for version control
bugs.txt
login-test.txt
notes for publishing
to do.txt
scp.txt
/static/RAG source/