<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" {% if request.path == '/' %}aria-current="page"{% endif %} href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/crypto-tracker' %}active{% endif %}" {% if request.path == '/crypto-tracker' %}aria-current="page"{% endif %} href="{{ url_for('crypto_tracker') }}">Crypto Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/crypto-agent' %}active{% endif %}" {% if request.path == '/crypto-agent' %}aria-current="page"{% endif %} href="{{ url_for('crypto_agent') }}">Crypto AI Agent</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>